*{
    padding:0px;
    margin: 0px;
}
.main{
    height: 285px;
width: 285px;
border: 1px solid black;
margin-left: 200px;
background-color: aliceblue;
    
}
#screen{
    width: 189px;
    height: 30px;
    margin-left: 44px;
    margin-top: 10px;
}
.row{
    margin-left: 45px;
    margin-top: 10px;
}
#btn{
    width: 45px;
    height: 35px;
}